$siteWidth: 1110px;
$mobileWidth: 768px;

@import "reset.scss";

html, body {
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: $mobileWidth) {
  //setting up 100% height
  body.flex {
    display: flex;
    flex-direction: column;
    & > .inner {
      flex: auto;
    }
  }
}

body{
  font-family: 'Open Sans', sans-serif;
  min-width: 320px;
}

.dropdown{
  position: relative;
  z-index: 11;
  display: inline-block;
  em{//current value
    //color: #26C4F7;
    cursor: pointer;
    font-style: normal;
    color: inherit !important;
  }
  padding-right: 25px;
  &.active{
    z-index: 22;
    ul{
      display: block;
    }
    &:after{
      background: url(../imgs/dd-active.svg) no-repeat 100% 75%;
    }
  }
  &:after{
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -10px;
    background: url(../imgs/dd.svg) no-repeat 100% 75%;
    width: 25px;
    height: 20px;
    cursor: pointer;
    transition: background 0.3s;
  }
  ul{
    display: none;
    padding: 10px 0;
    position: absolute;
    left: 0;
    list-style: none;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    background: #fff;
    border-radius: 4px;
    font-size: 20px;
    line-height: 30px;
    color: #596062;
    li{
      display: block;
      padding: 0 20px;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
      @media (min-width: $mobileWidth){
        white-space: nowrap;
      }
      &.active{
        background: #E1F7FE;
      }
      &:hover{
        cursor: pointer;
        background: #d8f7ff;
      }
    }
  }
}

body{
  padding-top: 80px;
}
body > nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
  background: #fff;
  opacity: 0.95;

  @media (min-width: 950px) {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    padding: 20px 0;
    height: 40px;
  }
  & > div.inner{
    @media (min-width: $siteWidth) {
      width: $siteWidth;
      margin: 0 auto;
    }
    @media (min-width: 950px) and (max-width: $siteWidth - 1){
      padding: 0 20px;
    }
    @media (max-width: 949px){
      padding: 20px 0;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    }
    @include clearfix;
    h2{
      float: left;
      margin: 0 0 0 20px;
      font-size: 16px;
      a{
        display: block;
        width: 135px;
        height: 40px;
        background: url(../imgs/logo.svg) no-repeat;
        padding: 0 0 0 50px;
        color: #2C2A28;
        text-decoration: none;
        transition: color 0.3s;
        &:hover{
          color: #7DE2FF;
        }
        &.active{
          color: #848484;
        }
      }
    }
    font-size: 14px;
    line-height: 40px;
    .menu-link{
      @media (min-width: 950px){
        display: none;
      }
      @media (max-width: 949px){
        float: right;
      }

      margin: 0 20px 0 0;
      border: 1px solid #F1F8FA;
      border-radius: 4px;
      width: 40px;
      height: 40px;
      display: block;

      background: url(../imgs/icons/menu.svg) no-repeat 50% 50%;
      &.active{
        background: url(../imgs/icons/menu-active.svg) no-repeat 50% 50%;
        & + ul.nav{
          display: block;
        }
      }
      text-indent: -3000px;
      overflow: hidden;
    }
    & > ul.nav{
      @media (min-width: 950px){
        float: right;
      }
      @media (max-width: 949px){
        display: none;
        clear: both;
        padding: 20px 0 0 0;
      }
      list-style: none;
      @media (min-width: 950px) {
        #languages {
          position: relative;
          z-index: 1;
        }
      }
      @media (min-width: 950px) and (max-width: $siteWidth - 1){
        #languages {
          position: relative;
          z-index: 1;
        }
      }
      & > li{
        @media (min-width: 950px) {
          display: inline;
          padding: 0 23px 0 22px;
        }
        @media (min-width: 950px) and (max-width: $siteWidth - 1){
          padding: 0 10px;
        }
        @media (max-width: 949px){
          display: block;
          text-align: center;
        }
        a{
          color: #000;
          text-decoration: none;
          font-weight: 600;
          transition: color 0.3s, background-color 0.3s;
          @media (max-width: 949px){
            line-height: 65px;
            font-size: 16px;
            display: block;
          }
          &:hover{
            color: #26C4F7;
            @media (max-width: 949px){
              background: #E1F7FE;
            }
          }
          &:active{
            color: #0E84BC;
          }
          &.active{
            font-weight: 600;
            color: #0E84BC;
          }
          @media (min-width: 950px) {
            &.special {
              border: 1px solid rgba(132, 132, 132, 0.2);
              transition: border-color 0.3s;
              &:hover {
                border-color: #000;
              }
              border-radius: 4px;
              padding: 0 16px;
              color: #0E84BC;
              line-height: 40px;
              display: inline-block;
            }
          }
        }
      }
    }
    div.language{
      @extend .noselect;
      @media (min-width: 950px) {
        float: right;
        position: relative;
      }
      cursor: pointer;
      strong{
        padding: 0 20px 0 0;
        background: url(../imgs/icons/more.svg) no-repeat right 50%;
        font-weight: 600;
        color: #596062;
        @media (min-width: 950px) {
          display: block;
        }
      }
      &.active strong{
        background: url(../imgs/icons/less.svg) no-repeat right 50%;
      }

      &.active ul{
        display: block;
      }
      ul{
        display: none;
        list-style: none;
        @media (min-width: 950px) {
          position: absolute;
          line-height: 30px;
          left: -8px;
          right: 0;
          padding: 8px 0;
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
        }
        background: #fff;
        border-radius: 4px;
        li{
          display: block;
          text-align: left;
          @media (max-width: 949px){
            text-align: center;
          }
          text-transform: uppercase;
          span{
            cursor: default;
            font-weight: 800!important;
          }
          a, span{
            text-decoration: none;
            color: #596062;
            display: block;
            @media (min-width: 950px) {
              font-weight: 600;
              padding: 0 0 0 8px;
            }
            &.current{
              @media (min-width: 950px) {
                background: #d8f7ff;
              }
            }
            transition: background 0.3s;
            &:hover{
              @media (min-width: 950px) {
                background: #d8f7ff;
              }
            }
          }
        }
      }
    }
  }
}
section{
  &#section-header{
    background: #0062BD;
    & > div.inner{
      background: url(../imgs/header.svg) no-repeat right top;
      padding: 100px 0 30px;
      min-height: 416px;
      h1{
        max-width: 550px;
        color: #fff;
        font-size: 35px;
        line-height: 42px;
        margin: 0 0 20px 0;
        font-weight: 600;
      }
      p{
        max-width: 550px;
        color: #fff;
        margin: 0 0 40px 0;
      }
      nav{
        @include clearfix;
        a{
          float: left;
          &:first-child{
            margin-right: 30px;
          }
        }
      }
    }
  }
  &#section-functions{
    & > div.inner{
      h2{
        text-align: center;
        max-width: 600px;
        margin: 0 auto 20px;
      }
      & > p{
        text-align: center;
        max-width: 600px;
        margin: 0 auto 20px;
      }
      ul.list3{
        li{
          div.inner{
            transition: background 0.3s;
            &:hover{
              background: #F7FBFC;
            }
            h3{
              padding-left: 50px;
            }
          }
          &:nth-child(1){
            h3{
              background: url(../imgs/icons/function1.svg) no-repeat 0 0;
            }
          }
          &:nth-child(2){
            h3{
              background: url(../imgs/icons/function2.svg) no-repeat 0 0;
            }
          }
          &:nth-child(3){
            h3{
              background: url(../imgs/icons/function3.svg) no-repeat 0 0;
            }
          }
          &:nth-child(4){
            h3{
              background: url(../imgs/icons/function4.svg) no-repeat 0 0;
            }
          }
          &:nth-child(5){
            h3{
              background: url(../imgs/icons/function5.svg) no-repeat 0 0;
            }
          }
          &:nth-child(6){
            h3{
              background: url(../imgs/icons/function6.svg) no-repeat 0 0;
            }
          }
          &:nth-child(7){
            h3{
              background: url(../imgs/icons/function7.svg) no-repeat 0 0;
            }
          }
        }
      }
      nav{
        @include clearfix;
        p{
          text-align: center;
          margin: 0 0 10px 0;
          color: #848484;
          font-size: 14px;
        }
        a{
          display: block;
          background: #26C4F7;
          transition: background 0.3s;
          border-radius: 4px;
          text-decoration: none;
          line-height: 70px;
          padding: 0 0 0 70px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          color: #fff;
          width: 48.5%;
          &:hover{
            background-color: darken(#26C4F7, 10) !important;
          }
          span{
            background: url(../imgs/icons/more-white.svg) no-repeat right 20px top 50%;
            display: block;
          }
          &:nth-of-type(1){
            float: left;
            background: #26C4F7 url(../imgs/icons/github.svg) no-repeat 20px 50%;
          }
          &:nth-of-type(2){
            float: right;
            background: #26C4F7 url(../imgs/icons/develop.svg) no-repeat 20px 50%;
          }
        }
      }
    }
  }
  &#section-sql{
    background: #EFF6F8;
    & > div.inner{
      @include clearfix;
      div.info{
        float: left;
        width: 540px;
        h2{
          margin: 0 0 20px 0;
        }
        p{
          margin: 0 0 30px 0;
        }
        ul{
          list-style: none;
          li{
            float: left;
            width: 50%;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0 0 30px 0;
            padding: 0 20px 0 50px;
            &:nth-child(2n+1){
              clear: both;
            }
            &:nth-child(1){
              background: url(../imgs/icons/sql1.svg) no-repeat 0 0;
            }
            &:nth-child(2){
              background: url(../imgs/icons/sql2.svg) no-repeat 0 0;
            }
            &:nth-child(3){
              background: url(../imgs/icons/sql3.svg) no-repeat 0 0;
            }
            &:nth-child(4){
              background: url(../imgs/icons/sql4.svg) no-repeat 0 0;
            }
          }
        }
      }
      div.img{
        float: right;
        background: #F7FBFC;
        border-radius: 4px;
        padding: 12px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        img{
          display: block;
          border: 12px solid #fff;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          max-width: 100%;
        }
      }
    }
  }
  &#section-free{
    & > div.inner{
      @include clearfix;
      div.img{
        float: left;
        background: #F7FBFC;
        border-radius: 4px;
        padding: 12px;
        width: 500px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        img{
          display: block;
          border: 12px solid #fff;
          max-width: 100%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
        }
      }
      div.info {
        float: right;
        width: 520px;
        h2{
          margin: 0 0 20px 0;
        }
        p{
          margin: 0 0 20px 0;
        }
        p:first-of-type{
          color: #848484;
        }
        & > a{

        }
      }
    }
  }
  &#section-tasks{
    & > div.inner{
      h2{
        position: relative;
        padding: 0 200px 0 0;
        margin: 0 0 20px 0;
        a{
          position: absolute;
          right: 0;
          top: 0;
          @extend .btn;
          @extend .btn-empty-invert;
        }
      }

      ul.list2 {
        li{
          & > div.inner{
            display: flex;
            flex-direction: row;
            & > div.img{
              flex: 0 0 107px;
              img {
                max-width: 100%;
                height: auto;
              }
            }
            & > div.info{
              padding: 0 0 0 20px;
              strong{
                display: block;
                margin: 0 0 20px 0;
                font-size: 16px;
                line-height: 22px;
              }
              p{
                font-size: 16px;
                line-height: 22px;
                margin: 0 0 20px 0;
                color: #000;
              }
              em{
                color: #596062;
                font-style: normal;
              }
            }
          }
        }
      }

    }
  }
  &#section-progress{
    background: #EFF6F8;
    & > div.inner{
      h2{
        text-align: center;
        width: 730px;
        margin: 0 auto 20px;
      }
      ul.list3{
        li{
          div.inner {
            background: #26C4F7;
            transition: background 0.3s;
            &:hover{
              background: darken(#26C4F7, 10);
            }
            border: 0;
            color: #fff;
            strong{
              font-size: 20px;
              line-height: 24px;
              display: block;
              margin: 0 0 10px 0;
              font-weight: 600;
            }
            p{
              font-size: 14px;
              line-height: 19px;
              color: #fff;
            }
            dl{
              font-size: 14px;
              dt{
                float: left;
                clear: both;
              }
              dd{
                float: right;
                font-size: 16px;
                font-weight: 700;
              }
            }
          }
        }
      }
    }
  }

  &#section-low{
    background: #EFF6F8;
    & > div.inner{

    }
  }
  &#section-work{
    & > div.inner {
      nav {
        text-align: center;
        margin: 0 0 30px 0;
      }
      div {
        background: #26C4F7;
        border-radius: 4px;
        padding: 30px;
        color: #fff;
      }
    }
  }
  &#section-easy{
    background: #EFF6F8;
    nav{
      text-align: center;
      margin: 0 0 30px 0;
    }
    @include clearfix;
    padding: 0 0 50px 0;
    ul{
      float: left;
      font-size: 16px;
      line-height: 21px;
      list-style: none;
      max-width: 530px;
      li{
        display: block;
        margin: 0 0 50px 0;
        padding: 0 0 0 40px;
        &:nth-child(1){
          background: url(../imgs/icons/easy1.svg) no-repeat 0 0;
        }
        &:nth-child(2){
          background: url(../imgs/icons/easy2.svg) no-repeat 0 0;
        }
        &:nth-child(3){
          background: url(../imgs/icons/easy3.svg) no-repeat 0 0;
        }
      }
    }
    div.img{
      float: right;
      background: #F7FBFC;
      padding: 20px;
      border-radius: 4px;
    }
  }
  &#section-footer{
    background: #0062BD url(../imgs/points.svg) no-repeat 0 bottom;
    & > div.inner{
      background: url(../imgs/run.svg) no-repeat right bottom;
      @include clearfix;
      & > div {
        float: left;
        width: 700px;
        h2{
          color: #fff;
          text-align: left;
          max-width: 700px;
        }
        p{
          color: #fff;
          text-align: left;
          max-width: 700px;
        }
      }
      & > a{
        float: right;
      }
    }
  }
  &.inner{
    @media (min-width: $siteWidth) {
      width: $siteWidth;
      margin: 0 auto;
      padding: 30px 20px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
  & > div.inner{
    @media (min-width: $siteWidth) {
      width: $siteWidth;
      margin: 0 auto;
      padding: 30px 20px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
  h1, h2, h3, h4{
    font-family: Poppins, Montserrat, "Open Sans";
  }
  h2{
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #2C2A28;
    em{
      font-style: normal;
      color: #26C4F7;
    }
  }
  p{
    font-size: 16px;
    line-height: 22px;
    color: #596062;
  }
  a{
    color: #0E84BC;
    transition: color 0.3s, background 0.3s;
    &:hover{
      color: #26C4F7;
    }
    &:active{
      color: #0E84BC;
    }
  }
  @media (max-width: $siteWidth - 1){
    padding: 30px 20px;
  }
}

ul.list3{
  list-style: none;
  @include clearfix;
  margin: 0 -15px 20px -15px;
  display: flex;
  flex-wrap: wrap;
  li{
    float: left;
    width: 33.33%;
    flex: 0 0 33.33333%;
    padding: 10px 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    & > div.inner{
      border: 1px solid #F2F2F2;
      border-radius: 4px;
      padding: 22px 20px;
      h3{
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;
        margin: 0 0 20px 0;
      }
      p{
        color: #848484;
        font-size: 14px;
        line-height: 19px;
        margin: 0;
      }
    }
  }
}
ul.list2{
  list-style: none;
  @include clearfix;
  margin: 0 -15px 20px -15px;
  display: flex;
  flex-wrap: wrap;
  li{
    float: left;
    width: 50%;
    flex: 0 0 50%;
    padding: 10px 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    & > div.inner{
      border: 1px solid #F2F2F2;
      border-radius: 4px;
      padding: 22px 20px;
      h3{
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;
        margin: 0 0 20px 0;
      }
      p{
        color: #848484;
        font-size: 14px;
        line-height: 19px;
        margin: 0;
      }
    }
  }
}

body > footer{
  background: #181819;
  & > div.inner{
    @media (min-width: $siteWidth) {
      width: $siteWidth;
      margin: 0 auto;
    }
    @media (max-width: $siteWidth - 1){
      margin: 0 20px;
    }
  }
  nav{
    font-size: 14px;
    line-height: 19px;
    padding: 30px 0 36px 0;
    @include clearfix;
    div{
      @media (min-width: $mobileWidth) {
        float: left;
        width: 39%;
      }
      @media (max-width: $mobileWidth - 1){
        margin: 0 0 20px 0;
        br{
          display: none;
        }
      }
      h3{
        margin: 0 0 9px 0;

        font-weight: 700;
        font-size: 14px;
        line-height: 27px;
        a{
          color: #fff;
          background: url(../imgs/logo_small.svg) no-repeat 0 0;
          padding: 0 0 0 40px;
          text-decoration: none;
          display: block;
          transition: color 0.3s;
          &:hover{
            color: #7DE2FF;
          }
          &.active{
            color: #848484;
          }
        }
      }
      p{
        color: #fff;
        a{
          color: #26C4F7;
          text-decoration: none;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
    ul {
      list-style: none;
      float: left;
      @media (min-width: $mobileWidth) {
        width: 16.66666%;
      }
      @media (max-width: $mobileWidth - 1){
        width: 33.33%;
        margin: 0 0 30px 0;
      }
      &.links{
        @media (min-width: $mobileWidth) {
          width: 17%;
        }
        @media (max-width: $mobileWidth - 1){
          width: 33.3333%;
        }
      }
      &.social{
        @media (min-width: $mobileWidth) {
          width: 27%;
        }
        @media (max-width: $mobileWidth - 1){
          width: 33.3333%;
        }
      }
      &.community{
        @media (min-width: $mobileWidth) {
          width: 17%;
        }
        @media (max-width: $mobileWidth - 1){
          width: 33.3333%;
        }
      }

      li {
        margin: 0 0 9px 0;
        a {
          color: #F1F8FA;
          transition: color 0.3s;
          &:hover{
            color: #7DE2FF;
          }
          &.active{
            color: #848484;
            font-weight: 600;
          }
        }
      }
      &.social,
      &.community {
        li {
          a {
            padding: 0 0 0 27px;
            transition: background 0.3s;
          }

          $classes: sl,em,blog;
          @each $class in $classes{
            &.#{$class} {
              a {
                background: url(../imgs/icons/#{$class}.svg) no-repeat 0 0;
                &:hover{
                  background: url(../imgs/icons/#{$class}-hover.svg) no-repeat 0 0;
                }
                &:active{
                  background: url(../imgs/icons/#{$class}-active.svg) no-repeat 0 0;
                }
              }
            }
          }
        }
      }
    }
  }

  #absfooter{
    clear: both;
    border-top: 1px solid #596062;
    padding: 20px 0;
    @include clearfix;
    font-size: 12px;
    line-height: 16px;
    #copyright{
      float: left;
      color: #596062;
    }
    ul{
      float: right;
      list-style: none;
      li{
        display: inline;
        padding: 0 0 0 43px;
        a{
          color: #596062;
          transition: color 0.3s;
          &:hover{
            color: #F1F8FA;
          }
          &:active{
            color: #848484;
          }
        }
      }
    }
  }
}