/*
	WebKit desktop browsers add little up down arrows to number inputs called spinners. You can turn them off visually like this:
*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0; }

/* =Reset
-----------------------------------------------------------------------------*/
html {
  font-family: 'Roboto', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html,
body {
  height: 100%;
  width: 100%; }

html,
body,
div,
span,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-style: normal; }

a:active,
a:hover {
  outline: 0; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

/* Structure tags */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

/* To prevent some browsers from inserting quotes on q and p */
blockquote,
q {
  quotes: none; }

blockquote p:before,
blockquote p:after,
q:before,
q:after {
  content: '';
  content: none; }

/* Table reset */
table {
  border-collapse: collapse;
  border-spacing: 0; }

caption,
th,
td {
  text-align: left;
  vertical-align: top;
  font-weight: normal; }

thead th,
thead td {
  font-weight: bold;
  vertical-align: bottom; }

/* Image inside */
a img,
th img,
td img {
  vertical-align: top; }

/* Webkit browsers reset margin */
button,
input,
select,
textarea {
  margin: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

/* Normalize buttons in IE */
button {
  width: auto;
  overflow: visible; }

/* Hand cursor on clickable controls */
input[type=button],
input[type=submit],
button {
  cursor: pointer; }

/* Trick with vertical align for radio and checkbox  */
input[type="radio"],
input[type="checkbox"] {
  font-size: 110%;
  box-sizing: border-box; }

/* Normalize search fields */
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* Horizontal rule reset  */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ddd; }

em {
  font-style: italic; }

.noselect, body > nav > div.inner div.language {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
               supported by Chrome, Edge, Opera and Firefox */ }

.btn-default, .btn, section#section-tasks > div.inner h2 a, section#section-work > div.inner > div a, .btn-empty, .btn-invert, .btn-empty-invert {
  position: relative;
  text-decoration: none;
  transition: background-color .3s, border-color 0.3s, color 0.3s;
  padding: 10px 42px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  display: inline-block; }
  @media (max-width: 479px) {
    .btn-default, .btn, section#section-tasks > div.inner h2 a, section#section-work > div.inner > div a, .btn-empty, .btn-invert, .btn-empty-invert {
      padding: 10px 18px; } }
  .btn-default:active, .btn:active, section#section-tasks > div.inner h2 a:active, section#section-work > div.inner > div a:active, .btn-empty:active, .btn-invert:active, .btn-empty-invert:active {
    top: 1px; }

.btn, section#section-tasks > div.inner h2 a, section#section-work > div.inner > div a {
  background: #26C4F7;
  color: #fff !important; }
  .btn:hover, section#section-tasks > div.inner h2 a:hover, section#section-work > div.inner > div a:hover {
    background-color: #0295FF; }
  .btn:active, section#section-tasks > div.inner h2 a:active, section#section-work > div.inner > div a:active {
    background-color: #0B85DE; }

.btn-empty {
  background: transparent;
  border: 1px solid #fff;
  color: #fff !important; }
  .btn-empty:hover {
    background-color: #FFFFFF;
    color: #26C4F7 !important; }
  .btn-empty:active {
    background-color: #F1F8FA;
    color: #26C4F7; }

.btn-invert, section#section-work > div.inner > div a {
  background: transparent;
  border: 1px solid #fff;
  color: #fff !important; }
  .btn-invert:hover, section#section-work > div.inner > div a:hover {
    background-color: #FFFFFF;
    color: #26C4F7 !important; }
  .btn-invert:active, section#section-work > div.inner > div a:active {
    background-color: #F1F8FA;
    color: #26C4F7; }

.btn-empty-invert, section#section-tasks > div.inner h2 a {
  background: transparent !important;
  border: 1px solid rgba(132, 132, 132, 0.2);
  color: #0E84BC !important; }
  .btn-empty-invert:hover, section#section-tasks > div.inner h2 a:hover {
    border-color: #848484; }
  .btn-empty-invert:active, section#section-tasks > div.inner h2 a:active {
    border-color: #848484; }

html, body {
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media (min-width: 768px) {
  body.flex {
    display: flex;
    flex-direction: column; }
    body.flex > .inner {
      flex: auto; } }
body {
  font-family: 'Open Sans', sans-serif;
  min-width: 320px; }

.dropdown {
  position: relative;
  z-index: 11;
  display: inline-block;
  padding-right: 25px; }
  .dropdown em {
    cursor: pointer;
    font-style: normal;
    color: inherit !important; }
  .dropdown.active {
    z-index: 22; }
    .dropdown.active ul {
      display: block; }
    .dropdown.active:after {
      background: url(../imgs/dd-active.svg) no-repeat 100% 75%; }
  .dropdown:after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -10px;
    background: url(../imgs/dd.svg) no-repeat 100% 75%;
    width: 25px;
    height: 20px;
    cursor: pointer;
    transition: background 0.3s; }
  .dropdown ul {
    display: none;
    padding: 10px 0;
    position: absolute;
    left: 0;
    list-style: none;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    background: #fff;
    border-radius: 4px;
    font-size: 20px;
    line-height: 30px;
    color: #596062; }
    .dropdown ul li {
      display: block;
      padding: 0 20px;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s; }
      @media (min-width: 768px) {
        .dropdown ul li {
          white-space: nowrap; } }
      .dropdown ul li.active {
        background: #E1F7FE; }
      .dropdown ul li:hover {
        cursor: pointer;
        background: #d8f7ff; }

body {
  padding-top: 80px; }

body > nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
  background: #fff;
  opacity: 0.95; }
  @media (min-width: 950px) {
    body > nav {
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
      padding: 20px 0;
      height: 40px; } }
  body > nav > div.inner {
    font-size: 14px;
    line-height: 40px; }
    @media (min-width: 1110px) {
      body > nav > div.inner {
        width: 1110px;
        margin: 0 auto; } }
    @media (min-width: 950px) and (max-width: 1109px) {
      body > nav > div.inner {
        padding: 0 20px; } }
    @media (max-width: 949px) {
      body > nav > div.inner {
        padding: 20px 0;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); } }
    body > nav > div.inner:after {
      content: "";
      display: table;
      clear: both; }
    body > nav > div.inner h2 {
      float: left;
      margin: 0 0 0 20px;
      font-size: 18px; }
      body > nav > div.inner h2 a {
        display: block;
        width: 135px;
        height: 40px;
        background: url(../imgs/logo.svg) no-repeat;
        padding: 0 0 0 50px;
        color: #2C2A28;
        text-decoration: none;
        transition: color 0.3s; }
        body > nav > div.inner h2 a:hover {
          color: #7DE2FF; }
        body > nav > div.inner h2 a.active {
          color: #848484; }
    body > nav > div.inner .menu-link {
      margin: 0 20px 0 0;
      border: 1px solid #F1F8FA;
      border-radius: 4px;
      width: 40px;
      height: 40px;
      display: block;
      background: url(../imgs/icons/menu.svg) no-repeat 50% 50%;
      text-indent: -3000px;
      overflow: hidden; }
      @media (min-width: 950px) {
        body > nav > div.inner .menu-link {
          display: none; } }
      @media (max-width: 949px) {
        body > nav > div.inner .menu-link {
          float: right; } }
      body > nav > div.inner .menu-link.active {
        background: url(../imgs/icons/menu-active.svg) no-repeat 50% 50%; }
        body > nav > div.inner .menu-link.active + ul.nav {
          display: block; }
    body > nav > div.inner > ul.nav {
      list-style: none; }
      @media (min-width: 950px) {
        body > nav > div.inner > ul.nav {
          float: right; } }
      @media (max-width: 949px) {
        body > nav > div.inner > ul.nav {
          display: none;
          clear: both;
          padding: 20px 0 0 0; } }
      @media (min-width: 950px) {
        body > nav > div.inner > ul.nav #languages {
          position: relative;
          z-index: 1; } }
      @media (min-width: 950px) and (max-width: 1109px) {
        body > nav > div.inner > ul.nav #languages {
          position: relative;
          z-index: 1; } }
      @media (min-width: 950px) {
        body > nav > div.inner > ul.nav > li {
          display: inline;
          padding: 0 23px 0 22px; } }
      @media (min-width: 950px) and (max-width: 1109px) {
        body > nav > div.inner > ul.nav > li {
          padding: 0 10px; } }
      @media (max-width: 949px) {
        body > nav > div.inner > ul.nav > li {
          display: block;
          text-align: center; } }
      body > nav > div.inner > ul.nav > li a {
        color: #000;
        text-decoration: none;
        font-weight: 600;
        transition: color 0.3s, background-color 0.3s; }
        @media (max-width: 949px) {
          body > nav > div.inner > ul.nav > li a {
            line-height: 65px;
            font-size: 16px;
            display: block; } }
        body > nav > div.inner > ul.nav > li a:hover {
          color: #26C4F7; }
          @media (max-width: 949px) {
            body > nav > div.inner > ul.nav > li a:hover {
              background: #E1F7FE; } }
        body > nav > div.inner > ul.nav > li a:active {
          color: #0E84BC; }
        body > nav > div.inner > ul.nav > li a.active {
          font-weight: 600;
          color: #0E84BC; }
        @media (min-width: 950px) {
          body > nav > div.inner > ul.nav > li a.special {
            border: 1px solid rgba(132, 132, 132, 0.2);
            transition: border-color 0.3s;
            border-radius: 4px;
            padding: 0 16px;
            color: #0E84BC;
            line-height: 40px;
            display: inline-block; }
            body > nav > div.inner > ul.nav > li a.special:hover {
              border-color: #000; } }
    body > nav > div.inner div.language {
      cursor: pointer; }
      @media (min-width: 950px) {
        body > nav > div.inner div.language {
          float: right;
          position: relative; } }
      body > nav > div.inner div.language strong {
        padding: 0 20px 0 0;
        background: url(../imgs/icons/more.svg) no-repeat right 50%;
        font-weight: 600;
        color: #596062; }
        @media (min-width: 950px) {
          body > nav > div.inner div.language strong {
            display: block; } }
      body > nav > div.inner div.language.active strong {
        background: url(../imgs/icons/less.svg) no-repeat right 50%; }
      body > nav > div.inner div.language.active ul {
        display: block; }
      body > nav > div.inner div.language ul {
        display: none;
        list-style: none;
        background: #fff;
        border-radius: 4px; }
        @media (min-width: 950px) {
          body > nav > div.inner div.language ul {
            position: absolute;
            line-height: 30px;
            left: -8px;
            right: 0;
            padding: 8px 0;
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15); } }
        body > nav > div.inner div.language ul li {
          display: block;
          text-align: left;
          text-transform: uppercase; }
          @media (max-width: 949px) {
            body > nav > div.inner div.language ul li {
              text-align: center; } }
          body > nav > div.inner div.language ul li span {
            cursor: default;
            font-weight: 800 !important; }
          body > nav > div.inner div.language ul li a, body > nav > div.inner div.language ul li span {
            text-decoration: none;
            color: #596062;
            display: block;
            transition: background 0.3s; }
            @media (min-width: 950px) {
              body > nav > div.inner div.language ul li a, body > nav > div.inner div.language ul li span {
                font-weight: 600;
                padding: 0 0 0 8px; } }
            @media (min-width: 950px) {
              body > nav > div.inner div.language ul li a.current, body > nav > div.inner div.language ul li span.current {
                background: #d8f7ff; } }
            @media (min-width: 950px) {
              body > nav > div.inner div.language ul li a:hover, body > nav > div.inner div.language ul li span:hover {
                background: #d8f7ff; } }

@media (max-width: 1109px) {
  section > div.inner {
    padding-left: 20px;
    padding-right: 20px; } }
section#section-header {
  background: #0062BD; }
  @media (min-width: 1110px) {
    section#section-header > div.inner {
      background: url(../imgs/header.svg) no-repeat right top;
      padding: 100px 0 30px;
      min-height: 425px; } }
  section#section-header > div.inner h1 {
    color: #fff;
    font-size: 35px;
    line-height: 42px;
    margin: 0 0 20px 0;
    font-weight: 600; }
    @media (min-width: 1110px) {
      section#section-header > div.inner h1 {
        max-width: 550px; } }
    @media (max-width: 1109px) {
      section#section-header > div.inner h1 br {
        display: none; } }
  section#section-header > div.inner p {
    max-width: 550px;
    color: #fff;
    margin: 0 0 40px 0; }
    @media (max-width: 1109px) {
      section#section-header > div.inner p br {
        display: none; } }
  section#section-header > div.inner nav:after {
    content: "";
    display: table;
    clear: both; }
  section#section-header > div.inner nav a {
    float: left; }
    section#section-header > div.inner nav a:first-child {
      margin-right: 30px; }
section#section-functions {
  padding: 22px 0 0 0; }
  section#section-functions > div.inner h2 {
    text-align: center;
    max-width: 600px;
    margin: 0 auto 20px; }
  section#section-functions > div.inner > p {
    text-align: center;
    max-width: 600px;
    margin: 0 auto 10px; }
  section#section-functions > div.inner ul.list3 li div.inner {
    transition: background 0.3s;
    padding-top: 29px; }
    section#section-functions > div.inner ul.list3 li div.inner:hover {
      background: #F7FBFC; }
    section#section-functions > div.inner ul.list3 li div.inner h3 {
      padding-left: 50px;
      line-height: 32px; }
      @media (max-width: 1109px) {
        section#section-functions > div.inner ul.list3 li div.inner h3 {
          font-size: 18px;
          padding-left: 45px; } }
      @media (max-width: 767px) {
        section#section-functions > div.inner ul.list3 li div.inner h3 {
          padding-left: 40px; } }
  section#section-functions > div.inner ul.list3 li:nth-child(1) h3 {
    background: url(../imgs/icons/function1.svg) no-repeat 0 0; }
  section#section-functions > div.inner ul.list3 li:nth-child(2) h3 {
    background: url(../imgs/icons/function2.svg) no-repeat 0 0; }
  section#section-functions > div.inner ul.list3 li:nth-child(3) h3 {
    background: url(../imgs/icons/function3.svg) no-repeat 0 0; }
  section#section-functions > div.inner ul.list3 li:nth-child(4) h3 {
    background: url(../imgs/icons/function4.svg) no-repeat 0 0; }
  section#section-functions > div.inner ul.list3 li:nth-child(5) h3 {
    background: url(../imgs/icons/function5.svg) no-repeat 0 0; }
  section#section-functions > div.inner ul.list3 li:nth-child(6) h3 {
    background: url(../imgs/icons/function6.svg) no-repeat 0 0; }
  section#section-functions > div.inner ul.list3 li:nth-child(7) h3 {
    background: url(../imgs/icons/function7.svg) no-repeat 0 0; }
  section#section-functions > div.inner nav:after {
    content: "";
    display: table;
    clear: both; }
  section#section-functions > div.inner nav p {
    text-align: center;
    margin: 0 0 10px 0;
    color: #848484;
    font-size: 14px; }
  section#section-functions > div.inner nav a {
    display: block;
    background: #26C4F7;
    transition: background 0.3s;
    border-radius: 4px;
    text-decoration: none;
    line-height: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff; }
    @media (min-width: 768px) {
      section#section-functions > div.inner nav a {
        width: 48.5%; } }
    section#section-functions > div.inner nav a:hover {
      background-color: #08ade2 !important; }
    section#section-functions > div.inner nav a span {
      padding: 25px 70px;
      background: url(../imgs/icons/more-white.svg) no-repeat right 20px top 50%;
      display: block; }
    section#section-functions > div.inner nav a:nth-of-type(1) {
      background: #26C4F7 url(../imgs/icons/github.svg) no-repeat 20px 50%; }
      @media (min-width: 768px) {
        section#section-functions > div.inner nav a:nth-of-type(1) {
          float: left; } }
      @media (max-width: 767px) {
        section#section-functions > div.inner nav a:nth-of-type(1) {
          margin: 0 0 20px 0; } }
    section#section-functions > div.inner nav a:nth-of-type(2) {
      background: #26C4F7 url(../imgs/icons/develop.svg) no-repeat 20px 50%; }
      @media (min-width: 768px) {
        section#section-functions > div.inner nav a:nth-of-type(2) {
          float: right; } }
section#section-sql {
  background: #EFF6F8; }
  section#section-sql > div.inner:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 1110px) {
    section#section-sql > div.inner div.info {
      float: left;
      width: 540px; } }
  section#section-sql > div.inner div.info:after {
    content: "";
    display: table;
    clear: both; }
  section#section-sql > div.inner div.info h2 {
    margin: 0 0 20px 0; }
  section#section-sql > div.inner div.info p {
    margin: 0 0 30px 0; }
  section#section-sql > div.inner div.info ul {
    list-style: none; }
    section#section-sql > div.inner div.info ul li {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0 0 30px 0;
      padding: 0 20px 0 50px; }
      @media (min-width: 767px) {
        section#section-sql > div.inner div.info ul li {
          float: left;
          width: 50%; } }
      section#section-sql > div.inner div.info ul li:nth-child(2n+1) {
        clear: both; }
      section#section-sql > div.inner div.info ul li:nth-child(1) {
        background: url(../imgs/icons/sql1.svg) no-repeat 0 0; }
      section#section-sql > div.inner div.info ul li:nth-child(2) {
        background: url(../imgs/icons/sql2.svg) no-repeat 0 0; }
      section#section-sql > div.inner div.info ul li:nth-child(3) {
        background: url(../imgs/icons/sql3.svg) no-repeat 0 0; }
      section#section-sql > div.inner div.info ul li:nth-child(4) {
        background: url(../imgs/icons/sql4.svg) no-repeat 0 0; }
  section#section-sql > div.inner div.img {
    background: #F7FBFC;
    border-radius: 4px;
    padding: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    @media (min-width: 1110px) {
      section#section-sql > div.inner div.img {
        float: right; } }
    @media (max-width: 1109px) {
      section#section-sql > div.inner div.img {
        display: inline-block; } }
    section#section-sql > div.inner div.img img {
      display: block;
      border: 12px solid #fff;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      max-width: 100%; }
section#section-free > div.inner:after {
  content: "";
  display: table;
  clear: both; }
section#section-free > div.inner div.img {
  background: #F7FBFC;
  border-radius: 4px;
  padding: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 1110px) {
    section#section-free > div.inner div.img {
      float: left;
      width: 500px; } }
  @media (max-width: 1109px) {
    section#section-free > div.inner div.img {
      display: inline-block;
      margin: 0 0 20px 0; } }
  section#section-free > div.inner div.img img {
    display: block;
    border: 12px solid #fff;
    max-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
@media (min-width: 1110px) {
  section#section-free > div.inner div.info {
    float: right;
    width: 520px; } }
section#section-free > div.inner div.info h2 {
  margin: 0 0 20px 0; }
section#section-free > div.inner div.info p {
  margin: 0 0 20px 0; }
section#section-free > div.inner div.info p:first-of-type {
  color: #848484; }
section#section-tasks > div.inner h2 {
  position: relative;
  margin: 0 0 20px 0; }
  @media (min-width: 768px) {
    section#section-tasks > div.inner h2 {
      padding: 0 200px 0 0; } }
  section#section-tasks > div.inner h2 a {
    font-weight: 400; }
    @media (min-width: 768px) {
      section#section-tasks > div.inner h2 a {
        position: absolute;
        right: 0;
        top: 0; } }
    @media (max-width: 767px) {
      section#section-tasks > div.inner h2 a {
        margin: 20px 0 0 auto;
        display: block;
        max-width: 200px; } }
@media (max-width: 767px) {
  section#section-tasks > div.inner ul.list2 li {
    width: 100%;
    flex: 0 0 100%;
    padding: 10px 0; } }
section#section-tasks > div.inner ul.list2 li > div.inner {
  display: flex;
  flex-direction: row;
  transition: background 0.3s; }
  section#section-tasks > div.inner ul.list2 li > div.inner:hover {
    background: #F7FBFC; }
  section#section-tasks > div.inner ul.list2 li > div.inner > div.img {
    flex: 0 0 107px; }
    section#section-tasks > div.inner ul.list2 li > div.inner > div.img img {
      max-width: 100%;
      height: auto; }
  section#section-tasks > div.inner ul.list2 li > div.inner > div.info {
    padding: 0 0 0 20px; }
    section#section-tasks > div.inner ul.list2 li > div.inner > div.info strong {
      display: block;
      margin: 0 0 20px 0;
      font-size: 16px;
      line-height: 22px; }
    section#section-tasks > div.inner ul.list2 li > div.inner > div.info p {
      font-size: 16px;
      line-height: 22px;
      margin: 0 0 20px 0;
      color: #000; }
    section#section-tasks > div.inner ul.list2 li > div.inner > div.info em {
      color: #596062;
      font-style: normal; }
section#section-low > div.inner h2 {
  text-align: center;
  max-width: 500px;
  margin: 0 auto 30px; }
section#section-low > div.inner ul.list3 li > div.inner {
  border: 1px solid #F2F2F2;
  border-radius: 4px;
  background: #fff;
  transition: background 0.3s; }
  section#section-low > div.inner ul.list3 li > div.inner:hover {
    background: #F7FBFC; }
  section#section-low > div.inner ul.list3 li > div.inner img {
    display: block;
    max-height: 40px;
    margin: 0 0 15px 0; }
section#section-progress {
  background: #EFF6F8; }
  section#section-progress > div.inner h2 {
    text-align: center;
    margin: 0 auto 20px; }
    @media (min-width: 1110px) {
      section#section-progress > div.inner h2 {
        width: 730px; } }
  section#section-progress > div.inner ul.list3 li div.inner {
    background: #26C4F7;
    transition: background 0.3s;
    border: 0;
    color: #fff; }
    section#section-progress > div.inner ul.list3 li div.inner:hover {
      background: #08ade2; }
    section#section-progress > div.inner ul.list3 li div.inner strong {
      font-size: 20px;
      line-height: 24px;
      display: block;
      margin: 0 0 10px 0;
      font-weight: 600; }
    section#section-progress > div.inner ul.list3 li div.inner p {
      font-size: 14px;
      line-height: 19px;
      color: #fff; }
    section#section-progress > div.inner ul.list3 li div.inner dl {
      font-size: 14px; }
      section#section-progress > div.inner ul.list3 li div.inner dl dt {
        float: left;
        clear: both; }
      section#section-progress > div.inner ul.list3 li div.inner dl dd {
        float: right;
        font-size: 16px;
        font-weight: 700; }
section#section-low {
  background: #EFF6F8; }
section#section-work > div.inner h2 {
  text-align: center;
  margin: 0 0 20px 0; }
section#section-work > div.inner nav {
  text-align: center;
  margin: 0 0 10px 0; }
section#section-work > div.inner ul.list2 li > div.inner {
  background: #F7FBFC;
  transition: background-color 0.3s;
  background-repeat: no-repeat;
  background-position: 20px 22px;
  padding-left: 62px; }
  section#section-work > div.inner ul.list2 li > div.inner:hover {
    background-color: #d2e8ee; }
section#section-work > div.inner ul.list2 li:nth-child(1) > div.inner {
  background-image: url(../imgs/work/1.svg) !important; }
section#section-work > div.inner ul.list2 li:nth-child(2) > div.inner {
  background-image: url(../imgs/work/2.svg) !important; }
section#section-work > div.inner ul.list2 li:nth-child(3) > div.inner {
  background-image: url(../imgs/work/3.svg) !important; }
section#section-work > div.inner ul.list2 li:nth-child(4) > div.inner {
  background-image: url(../imgs/work/4.svg) !important; }
section#section-work > div.inner ul.list2 li:nth-child(5) > div.inner {
  background-image: url(../imgs/work/5.svg) !important; }
section#section-work > div.inner ul.list2 li:nth-child(6) > div.inner {
  background-image: url(../imgs/work/6.svg) !important; }
section#section-work > div.inner ul.list2 li:nth-child(7) > div.inner {
  background-image: url(../imgs/work/7.svg) !important; }
section#section-work > div.inner > div {
  background: #26C4F7;
  border-radius: 4px;
  color: #fff;
  position: relative; }
  @media (min-width: 768px) {
    section#section-work > div.inner > div {
      padding: 30px 275px 30px 30px; } }
  @media (max-width: 767px) {
    section#section-work > div.inner > div {
      padding: 30px; } }
  section#section-work > div.inner > div h3 {
    margin: 0 0 10px 0; }
  section#section-work > div.inner > div p {
    color: #fff; }
    @media (max-width: 767px) {
      section#section-work > div.inner > div p {
        margin: 0 0 10px 0; } }
  @media (min-width: 768px) {
    section#section-work > div.inner > div a {
      position: absolute;
      right: 30px;
      bottom: 30px; } }
section#section-easy {
  background: #EFF6F8; }
  @media (min-width: 1110px) {
    section#section-easy {
      padding-top: 20px; } }
  section#section-easy > div.inner h2 {
    text-align: center;
    margin: 0 0 20px 0; }
  section#section-easy > div.inner nav {
    text-align: center;
    margin: 0 0 30px 0; }
  section#section-easy > div.inner:after {
    content: "";
    display: table;
    clear: both; }
  section#section-easy > div.inner ul {
    font-size: 16px;
    line-height: 21px;
    list-style: none; }
    @media (min-width: 1110px) {
      section#section-easy > div.inner ul {
        float: left;
        max-width: 530px; } }
    @media (max-width: 1109px) {
      section#section-easy > div.inner ul {
        margin: 0 0 20px 0; } }
    section#section-easy > div.inner ul li {
      display: block;
      padding: 6px 0 50px 40px; }
      @media (max-width: 1109px) {
        section#section-easy > div.inner ul li {
          padding: 6px 0 15px 40px; } }
      section#section-easy > div.inner ul li:nth-child(1) {
        background: url(../imgs/icons/easy1.svg) no-repeat 0 0; }
      section#section-easy > div.inner ul li:nth-child(2) {
        background: url(../imgs/icons/easy2.svg) no-repeat 0 0; }
      section#section-easy > div.inner ul li:nth-child(3) {
        background: url(../imgs/icons/easy3.svg) no-repeat 0 0; }
  section#section-easy > div.inner div.img {
    background: #F7FBFC;
    padding: 12px;
    border-radius: 4px; }
    @media (min-width: 1110px) {
      section#section-easy > div.inner div.img {
        float: right; } }
    @media (max-width: 1109px) {
      section#section-easy > div.inner div.img {
        display: inline-block; } }
    section#section-easy > div.inner div.img img {
      background: #fff;
      max-width: 100%; }
@media (min-width: 1110px) {
  section#section-footer {
    background: #0062BD url(../imgs/points.svg) no-repeat 0 bottom; } }
@media (max-width: 1109px) {
  section#section-footer {
    background: #0062BD; } }
@media (min-width: 1110px) {
  section#section-footer > div.inner {
    background: url(../imgs/run.svg) no-repeat right bottom; } }
section#section-footer > div.inner:after {
  content: "";
  display: table;
  clear: both; }
@media (min-width: 1110px) {
  section#section-footer > div.inner > div {
    float: left;
    width: 700px; } }
section#section-footer > div.inner > div h2 {
  color: #fff;
  text-align: left;
  max-width: 700px;
  margin: 0 0 10px 0; }
section#section-footer > div.inner > div p {
  color: #fff;
  text-align: left;
  max-width: 700px; }
  @media (max-width: 1109px) {
    section#section-footer > div.inner > div p {
      margin: 0 0 10px 0; } }
section#section-footer > div.inner > a {
  float: right; }
section.inner {
  padding: 30px 20px; }
  @media (min-width: 1110px) {
    section.inner {
      width: 1110px;
      margin: 0 auto;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; } }
section > div.inner {
  padding: 30px 20px; }
  @media (min-width: 1110px) {
    section > div.inner {
      width: 1110px;
      margin: 0 auto;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; } }
section h1, section h2, section h3, section h4 {
  font-family: Poppins, Montserrat, "Open Sans"; }
section h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #2C2A28; }
  section h2 em {
    font-style: normal;
    color: #26C4F7; }
section p {
  font-size: 16px;
  line-height: 22px;
  color: #596062; }
section a {
  color: #0E84BC;
  transition: color 0.3s, background 0.3s; }
  section a:hover {
    color: #26C4F7; }
  section a:active {
    color: #0E84BC; }

ul.list3 {
  list-style: none;
  margin: 0 0 20px 0;
  display: flex;
  flex-wrap: wrap; }
  ul.list3:after {
    content: "";
    display: table;
    clear: both; }
  ul.list3 li {
    float: left;
    padding: 10px 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex; }
    @media (min-width: 768px) {
      ul.list3 li {
        width: 33.33%;
        flex: 0 0 33.33333%; } }
    @media (max-width: 767px) {
      ul.list3 li {
        width: 50%;
        flex: 0 0 50%;
        padding: 8px 12px; } }
    @media (max-width: 479px) {
      ul.list3 li {
        width: 100%;
        flex: 0 0 100%;
        padding: 10px 0; } }
    ul.list3 li > div.inner {
      border: 1px solid #F2F2F2;
      border-radius: 4px;
      padding: 22px 20px;
      width: 100%; }
      @media (max-width: 767px) {
        ul.list3 li > div.inner {
          padding: 18px 15px; } }
      ul.list3 li > div.inner h3 {
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;
        margin: 0 0 20px 0; }
      ul.list3 li > div.inner p {
        color: #848484;
        font-size: 14px;
        line-height: 19px;
        margin: 0; }

ul.list2 {
  list-style: none;
  margin: 0 0 20px 0;
  display: flex;
  flex-wrap: wrap; }
  ul.list2:after {
    content: "";
    display: table;
    clear: both; }
  ul.list2 li {
    float: left;
    width: 50%;
    flex: 0 0 50%;
    padding: 10px 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex; }
    @media (max-width: 767px) {
      ul.list2 li {
        width: 100%;
        flex: 0 0 100%;
        padding: 10px 0; } }
    ul.list2 li > div.inner {
      border: 1px solid #F2F2F2;
      border-radius: 4px;
      padding: 22px 20px;
      width: 100%; }
      ul.list2 li > div.inner h3 {
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;
        margin: 0 0 20px 0; }
      ul.list2 li > div.inner p {
        color: #848484;
        font-size: 14px;
        line-height: 19px;
        margin: 0; }

body > footer {
  background: #181819; }
  @media (min-width: 1110px) {
    body > footer > div.inner {
      width: 1110px;
      margin: 0 auto; } }
  @media (max-width: 1109px) {
    body > footer > div.inner {
      margin: 0 20px; } }
  body > footer nav {
    font-size: 14px;
    line-height: 19px;
    padding: 30px 0 36px 0; }
    body > footer nav:after {
      content: "";
      display: table;
      clear: both; }
    @media (min-width: 768px) {
      body > footer nav div {
        float: left;
        width: 39%; } }
    @media (max-width: 767px) {
      body > footer nav div {
        margin: 0 0 20px 0; }
        body > footer nav div br {
          display: none; } }
    body > footer nav div h3 {
      margin: 0 0 9px 0;
      font-weight: 700;
      font-size: 14px;
      line-height: 27px; }
      body > footer nav div h3 a {
        color: #fff;
        background: url(../imgs/logo_small.svg) no-repeat 0 0;
        padding: 0 0 0 40px;
        text-decoration: none;
        display: block;
        transition: color 0.3s; }
        body > footer nav div h3 a:hover {
          color: #7DE2FF; }
        body > footer nav div h3 a.active {
          color: #848484; }
    body > footer nav div p {
      color: #fff; }
      body > footer nav div p a {
        color: #26C4F7;
        text-decoration: none; }
        body > footer nav div p a:hover {
          text-decoration: underline; }
    body > footer nav ul {
      list-style: none;
      float: left; }
      @media (min-width: 768px) {
        body > footer nav ul {
          width: 16.66666%; } }
      @media (max-width: 767px) {
        body > footer nav ul {
          width: 33.33%;
          margin: 0 0 30px 0; } }
      @media (max-width: 479px) {
        body > footer nav ul {
          width: 100% !important; }
          body > footer nav ul li a {
            padding: 0 0 0 27px; } }
      @media (min-width: 768px) {
        body > footer nav ul.links {
          width: 17%; } }
      @media (max-width: 767px) {
        body > footer nav ul.links {
          width: 33.3333%; } }
      @media (min-width: 768px) {
        body > footer nav ul.social {
          width: 27%; } }
      @media (max-width: 767px) {
        body > footer nav ul.social {
          width: 33.3333%; } }
      @media (min-width: 768px) {
        body > footer nav ul.community {
          width: 17%; } }
      @media (max-width: 767px) {
        body > footer nav ul.community {
          width: 33.3333%; } }
      body > footer nav ul li {
        margin: 0 0 9px 0; }
        body > footer nav ul li a {
          color: #F1F8FA;
          transition: color 0.3s; }
          body > footer nav ul li a:hover {
            color: #7DE2FF; }
          body > footer nav ul li a.active {
            color: #848484;
            font-weight: 600; }
      body > footer nav ul.social li a, body > footer nav ul.community li a {
        padding: 0 0 0 27px;
        transition: background 0.3s; }
      body > footer nav ul.social li.sl a, body > footer nav ul.community li.sl a {
        background: url(../imgs/icons/sl.svg) no-repeat 0 0; }
        body > footer nav ul.social li.sl a:hover, body > footer nav ul.community li.sl a:hover {
          background: url(../imgs/icons/sl-hover.svg) no-repeat 0 0; }
        body > footer nav ul.social li.sl a:active, body > footer nav ul.community li.sl a:active {
          background: url(../imgs/icons/sl-active.svg) no-repeat 0 0; }
      body > footer nav ul.social li.em a, body > footer nav ul.community li.em a {
        background: url(../imgs/icons/em.svg) no-repeat 0 0; }
        body > footer nav ul.social li.em a:hover, body > footer nav ul.community li.em a:hover {
          background: url(../imgs/icons/em-hover.svg) no-repeat 0 0; }
        body > footer nav ul.social li.em a:active, body > footer nav ul.community li.em a:active {
          background: url(../imgs/icons/em-active.svg) no-repeat 0 0; }
      body > footer nav ul.social li.blog a, body > footer nav ul.community li.blog a {
        background: url(../imgs/icons/blog.svg) no-repeat 0 0; }
        body > footer nav ul.social li.blog a:hover, body > footer nav ul.community li.blog a:hover {
          background: url(../imgs/icons/blog-hover.svg) no-repeat 0 0; }
        body > footer nav ul.social li.blog a:active, body > footer nav ul.community li.blog a:active {
          background: url(../imgs/icons/blog-active.svg) no-repeat 0 0; }
  body > footer #absfooter {
    clear: both;
    border-top: 1px solid #596062;
    padding: 20px 0;
    font-size: 12px;
    line-height: 16px; }
    body > footer #absfooter:after {
      content: "";
      display: table;
      clear: both; }
    body > footer #absfooter #copyright {
      float: left;
      color: #596062; }
    body > footer #absfooter ul {
      float: right;
      list-style: none; }
      body > footer #absfooter ul li {
        display: inline;
        padding: 0 0 0 43px; }
        body > footer #absfooter ul li a {
          color: #596062;
          transition: color 0.3s; }
          body > footer #absfooter ul li a:hover {
            color: #F1F8FA; }
          body > footer #absfooter ul li a:active {
            color: #848484; }

/*# sourceMappingURL=app.css.map */
