DirectoryIndex index.html

ErrorDocument 404 /by/404.html

Redirect 302 /thankyou /thankyou.html

#AddType text/html .html
#AddHandler server-parsed .html
Options Indexes FollowSymLinks Includes
AddHandler server-parsed .html .htm